.place__title {
  color: white;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0 40px 48px 0;
  padding: 0;
  max-width: 460px;
  width: calc(49% - 20px);
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: calc(49% - 16px);
    font-size: calc(42px + (72 - 42) * ((100vw - 768px) / (1024 - 768)));
    margin-right: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: calc(49% - 14px);
    font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (768 - 320)));
    margin-right: 28px;
  }
}
