@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  width: calc(100% - 200px);
}
