.cover__subtitle {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: 320px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 450px) {
  .cover__subtitle {
    max-width: 288px;
  }
}
