@import url(./__logo/header__logo.css);
@import url(./__languages/header__languages.css);
@import url(./__language/header__language.css);
@import url(./__language/_selected/header__language_selected.css);
@import url(./__lang-list-item/header__lang-list-item.css);

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 34px 0 0;
  max-width: 984px;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 450px) {
  .header {
    width: calc(100% - 32px);
    margin-top: 20px;
  }
}
