@import url(./__lead/content__lead.css);
@import url(./__intro/content__intro.css);
@import url(./__photo-grid/content__photo-grid.css);
@import url(./__places/content__places.css);
@import url(./__cover/content__cover.css);

.content {
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .content {
    width: 100%;
  }
}
