.content__photo-grid {
  margin: 0 auto 92px;
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 450px) {
  .content__photo-grid {
    margin-bottom: 64px;
  }
}
