.lead__title {
  color: #ffffff;
  margin: 0;
  padding: 0 0 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
  max-width: 720px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (768 - 320)));
  }
}
