.content__intro {
  margin: 92px auto 92px;
}

@media screen and (max-width: 768px) {
  .content__intro {
    margin: 88px auto;
  }
}

@media screen and (max-width: 425px) {
  .content__intro {
    margin: 64px auto;
  }
}
