@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__emphasized-text/intro__emphasized-text.css);

.intro {
  max-width: 984px;
  width: calc(100% - 200px);
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
  }
}
