.lead__subtitle {
  margin: 0 0 64px;
  max-width: 620px;
  color: white;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (768 - 320)));
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: calc(100% - 32px);
    margin: 0 auto 40px;
  }
}
