.footer__links-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

@media screen and (max-width: 450px) {
  .footer__links-list {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
