.lead__caption {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-align: left;
  margin: 8px 0 0;
  align-self: flex-start;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
