.lead__caption {
  color: white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-align: left;
  margin: 8px 0 0;
  align-self: flex-start;
  text-transform: uppercase;
}
