.place__text-description {
  max-width: 480px;
  width: calc(51% - 20px);
}

@media screen and (max-width: 1024px) {
  .place__text-description {
    width: calc(51% - 16px);
  }
}

@media screen and (max-width: 768px) {
  .place__text-description {
    width: calc(51% - 14px);
  }
}

@media screen and (max-width: 425px) {
  .place__text-description {
    width: calc(100% - 32px);
    margin: auto;
  }
}
