@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__image/place__image.css);
@import url(./__text-description/place__text-description.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.place + .place {
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .place + .place {
    margin-top: 73px;
  }
}

@media screen and (max-width: 425px) {
  .place + .place {
    margin-top: 49px;
  }
}
