@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}
