@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links-list/footer__links-list.css);
@import url(./__list-item/footer__list-item.css);

.footer {
  width: calc(100% - 96px);
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin-left: 16px;
  }
}
