.place__website {
  max-width: 456px;
  width: calc(50% - 20px);
  margin-bottom: 48px;
  align-self: flex-end;
}

@media screen and (max-width: 1024px) {
  .place__website {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    width: calc(50% - 14px);
  }
}
